
@{
    ViewBag.Title = "SystemMsgShow";
    Layout = "~/Views/Shared/_LayoutNull.cshtml";
}


<div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="text-center article-title">
                    <h2>
                        @ViewBag.msg.Title
                    </h2>
                </div>
                <div>
                    @Html.Raw(ViewBag.msg.Content) 
                </div>
            </div>
        </div>
    </div>
</div>

