
@{
    ViewBag.Title = "用户组管理列表";
    Layout = "~/Views/Shared/_LayoutBootstrapTable.cshtml";
}



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>用户分组列表</h5>
                </div>
                <div class="ibox-content">

                    <!-- Panel Other -->

                    <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group">
                        @*<button type="button" class="btn btn-outline btn-default">
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                        </button>*@
                        <button type="button" class="btn btn-outline btn-default" id="btn_Edit">
                            <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-outline btn-default" id="btn_Del">
                            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                        </button>
                    </div>


                    <table id="TableAdmin" data-height="auto" data-mobile-responsive="true"></table>

                </div>
            </div>
            <!-- End Example Events -->

        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <h5 id="editTitle">新增分组</h5>
                </div>

                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm" >
                        
                        <div class="col-md-12">

                            <div class="form-group" id="thisId" hidden>
                                <label class="col-sm-2 control-label">ID：</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly id="id" name="id" class="form-control" value="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">分组名：</label>
                                <div class="col-sm-9">
                                    <input type="text"  id="groupName" name="groupName" class="form-control" placeholder="管理员"> <span class="help-block m-b-none">用户分组管理</span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">分组锁：</label>
                                <div class="col-sm-9">
                                    <div class="switch">
                                        <div class="onoffswitch">
                                            <input type="checkbox" class="onoffswitch-checkbox" value="-1" id="locked" name="locked">
                                            <label class="onoffswitch-label" for="locked">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2">
                                <button class="btn btn-primary" type="button" id="btn_submit">保存</button>
                                <button class="btn btn-primary" type="reset" id="btn_reset">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Script/Systenconfig-UserGroupAdmin-bom.min.js"></script>