<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false" />
  </configSections>
  <!-- 正式库-->
  <connectionStrings>
    <add name="Nowthwin" connectionString="Data Source=172.16.7.81;Initial Catalog=APSData;User ID=zhaoyd;Password=zyd1982417!" />
  </connectionStrings>

  <!-- 第三部分是将连接字符串和数据库驱动匹配起来成为一个连接。name是连接的名字，generatedNamespace的值是生成对象的命名空间-->
  <SubSonicService defaultProvider="Nowthwin">
    <providers>
      <clear />
      <add name="Nowthwin"
           type="SubSonic.SqlDataProvider, SubSonic"
           connectionStringName="Nowthwin"
           generatedNamespace="Models" />
    </providers>
  </SubSonicService>

</configuration>